[submodule "shell/.oh-my-zsh/custom/plugins/zsh-completions"]
	path = shell/.oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "shell/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = shell/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
